<!DOCTYPE html>
<html>
  <head>
    <title>Send Money to <%= ENV['USER_FULLNAME'] %></title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main>
      <div class="header">
        <img src="//www.gravatar.com/avatar/blah.jpg?d=blank" id="userAvatar" class="avatar">
        <img src="/arrow.png" class="arrow">
        <img src="//www.gravatar.com/avatar/<%= admin_hash %>.jpg?s=120" class="avatar">
      </div>
      <form action="/charge" method="POST">
        <label class="form-item">
          <% if params[:email] %>
            <input type="email" id="email" class="text-input locked disabled" disabled value="<%=h params[:email] %>">
          <% else %>
            <input type="email" id="email" class="text-input" placeholder="Your Email">
          <% end %>
        </label>
        <label class="form-item">
          <span>sends</span>
          <% if params[:amount] %>
            <input type="text" id="amount" class="text-input locked disabled" disabled value="<%=h params[:amount] %>">
          <% else %>
            <input type="text" id="amount" class="text-input" placeholder="Dollar Amount">
          <% end %>
        </label>
        <label class="form-item">
          <span>for</span>
          <% if params[:reason] %>
            <input type="text" id="reason" class="text-input locked disabled" disabled value="<%=h params[:reason] %>">
          <% else %>
            <input type="text" id="reason" class="text-input" placeholder="Reason">
          <% end %>
        </label>
        <label class="form-item">
          <button id="submitButton" class="disabled" disabled>
            <img src="/loading.png" class="sendingIndicator buttonIndicator">
            <img src="/error.png" class="errorIndicator buttonIndicator" width="10">
            <img src="/done.png" class="sentIndicator buttonIndicator" width="12">
            <span id="submitButtonText">Send Money to <%= ENV['USER_NAME'] %></span>
          </button>
        </label>
      </form>
      <div class="footer">
        Powered by <a href="https://github.com/lord/cashin">Cashin</a>
      </div>
    </main>
    <script src="//code.jquery.com/jquery-2.1.4.js"></script>
    <script src="/md5.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
      $(function() {
        var getAmount = function() {
          var val = $('#amount').val();
          if (val[0] == "$") {
            val = val.substr(1);
          }
          if (isNaN(val)) {
            return false;
          } else if (val < 0.50) {
            return false;
          } else {
            return Math.floor(val*100);
          }
        }

        var setEnabled = function($el, enable) {
          if (enable) {
            $el.filter(":not(.locked)").attr('disabled', false).removeClass('disabled');
          } else {
            $el.filter(":not(.locked)").attr('disabled', true).addClass('disabled');
          }
        };

        var updateButton = function(status) {
          $button = $('#submitButton');
          $text = $('#submitButtonText');
          $button.attr('disabled', true).removeClass('sending sent error');
          if (status == 'default') {
            $button.attr('disabled', false);
            $text.text("Send Money to <%= ENV['USER_NAME'] %>");
          } else if (status == 'sending') {
            $button.addClass('sending');
            $text.text("");
          } else if (status == 'sent') {
            $button.addClass('sent');
            $text.text("Sent");
          } else if (status == 'error') {
            $button.addClass('error');
            $text.text("Payment Rejected");
          }
        }

        updateButton('default');

        var handler = StripeCheckout.configure({
          key: '<%= ENV["STRIPE_API_PUBLIC_KEY"] %>',
          image: '//www.gravatar.com/avatar/<%= admin_hash %>.jpg?s=120',
          token: function(token) {
            updateButton('sending');
            setEnabled($('input, form'), false);
            $.ajax({
              type: "POST",
              url: '/charge',
              data: {
                stripeToken: token.id,
                stripeEmail: token.email,
                amount: getAmount(),
                reason: $('#reason').val()
              },
              success: function() {
                updateButton('sent');
              },
              error: function() {
                updateButton('error');
                setTimeout(function() {
                  updateButton('default');
                  setEnabled($('input, form'), true);
                }, 3000);
              }
            });
          }
        });

        $('#submitButton').on('click', function(e) {
          // Open Checkout with further options
          handler.open({
            name: '<%= ENV["USER_FULLNAME"] %>',
            description: "For " + $("#reason").val(),
            amount: getAmount(),
            bitcoin: true,
            email: $("#email").val()
          });
          e.preventDefault();
        });

        // add $ on focus
        $('#amount').on('focus', function() {
          if ($(this).val() == "") {
            setTimeout(function() {
              $('#amount').val("$");
            }, 0);
          }
        });

        // remove $ on blur if no number
        $('#amount').on('blur', function() {
          if ($(this).val() == "$") {
            setTimeout(function() {
              $('#amount').val("");
            }, 0);
          }
        });

        var checkFormReady = function() {
          setEnabled($('#submitButton'),
            getAmount() &&
            $('#amount').val() != "" &&
            $('#email').val() != "" &&
            $('#reason').val() != "");
        }
        $('input').on('change input', checkFormReady);
        checkFormReady();

        var updateGravatar = function() {
          $("#userAvatar").attr("src","//www.gravatar.com/avatar/" + md5($("#email").val()) + ".jpg?s=120&d=blank");
        }
        $('#email').on('change input', updateGravatar);
        updateGravatar();

        // Close Checkout on page navigation
        $(window).on('popstate', function() {
          handler.close();
        });
      });
    </script>
  </body>
</html>
